div(class='navbar-fixed')
  nav(
    class='light-blue darken-4',
    role='navigation'
  )
    div(class='nav-wrapper container')
      a(
        href='/',
        class='brand-logo'
      ) Node Basic System
      ul(
        id='nav-mobile',
        class='right hide-on-med-and-down'
      )          
        li
          a(href='/admin') Dashboard
        li(if )
          a(href='/user/add') Cadastrar
        li(if )
          a(href='/admin') Login
        li
          a(href='/admin/logoff') Logoff
      a(
        href='#',
        data-activates='nav-mobile',
        class='button-collapse'
      )
        i(class='material-icons') menu